QMainWindow {
    background-color: #090d1e;
}

QPushButton {
    font: 15px 'Consolas';
    background-color: #1e2b63;
    border: 2px solid #3b52bd;
    color: #dfdfdf;
    border-radius: 6px;
    padding: 6px;
}

QPushButton:disabled {
    background-color: #1c2138;
    color: #a0a0a0;
}

QPushButton:hover {
    background-color: #3146a3;
}

QPushButton:pressed {
    background-color: #4690d9;
}

QLabel {
    font: 15px 'Consolas';
    color: #dfdfdf;
}

QLineEdit {
    font: 12px 'Consolas';
    border: 2px solid #3b52bd;
    background: #0c1127;
    border-radius: 5px;
}

QLineEdit:disabled {
    background: #1c2138;
    color: #a0a0a0;
}

QTextEdit {
    font: 12px 'Consolas';
    border: 2px solid #3b52bd;
    background: #0c1127;
    border-radius: 5px;
}

#label_img {
    border: 2px solid #3b52bd;
    border-radius: 5px;
}
